@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


a:hover {
  text-decoration: none; }

input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  font-family: 'Lato', Helvetica; }

body.pull_top {
  padding-top: 0px !important; }

header {
  background: rgba(0, 0, 0, 0.6) !important; 
}

.navbar.navbar-vadmin{
	
	/*background: #ffcc00 !important;*/

}
#logo-area img{
    height: 30px;
    margin-top: -5px;   
}   


.form-vertical{
    padding: 5px 0 10px 0;
    border: 0px solid #ccc;	
}	

.form-vertical .col-xs-1, .form-vertical .col-xs-2, .form-vertical .col-xs-3, .form-vertical .col-xs-4, .form-vertical .col-xs-5, .form-vertical .col-xs-6, .form-vertical .col-xs-7, .form-vertical .col-xs-8, .form-vertical .col-xs-9, .form-vertical .col-xs-10, .form-vertical .col-xs-11, .form-vertical .col-xs-12, 
.form-vertical .col-sm-1, .form-vertical .col-sm-2, .form-vertical .col-sm-3, .form-vertical .col-sm-4, .form-vertical .col-sm-5, .form-vertical .col-sm-6, .form-vertical .col-sm-7, .form-vertical .col-sm-8, .form-vertical .col-sm-9, .form-vertical .col-sm-10, .form-vertical .col-sm-11, .form-vertical .col-sm-12, 
.form-vertical .col-md-1, .form-vertical .col-md-2, .form-vertical .col-md-3, .form-vertical .col-md-4, .form-vertical .col-md-5, .form-vertical .col-md-6, .form-vertical .col-md-7, .form-vertical .col-md-8, .form-vertical .col-md-9, .form-vertical .col-md-10, .form-vertical .col-md-11, .form-vertical .col-md-12, 
.form-vertical .col-lg-1, .form-vertical .col-lg-2, .form-vertical .col-lg-3, .form-vertical .col-lg-4, .form-vertical .col-lg-5, .form-vertical .col-lg-6, .form-vertical .col-lg-7, .form-vertical .col-lg-8, .form-vertical .col-lg-9, .form-vertical .col-lg-10, .form-vertical .col-lg-11, .form-vertical .col-lg-12 {
	width: 100%;
}

#column-container{
	
	padding: 20px 10px;
}

.password-screenlet{
	margin: 150px 0;
}


.screenlet{
	border: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-shadow: none;
	border-bottom: 1px solid #CCC;
	background-color: #fff;
	margin-bottom: 10px;
}
.screenlet-title-bar {
	padding: 10px 15px;
	box-sizing: content-box;
	position: relative;
	min-height: 38px;
	color: rgb(102, 159, 199);
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;

}

.screenlet>.screenlet-title-bar {
	
	background: 0px 50%;
	border: 0px;
	color: rgb(67, 131, 180);
	border: 1px solid #CCC;
	border-bottom: 2px solid #CCC;	
}

.screenlet-title-bar ul li {
	
	display: inline-block;
    padding: 0 10px 0 0 ; 			
}

.screenlet-title-bar>.screenlet-caption, .screenlet-title-bar>:first-child {
	line-height: 36px;
	padding: 0;
	margin: 0;
	display: inline;
}

.screenlet-toolbar {
	display: inline-block;
	padding: 0 10px;
	line-height: 37px;
	float: right;
	position: relative;
	margin-top: 0;
}

.screenlet-toolbar>.btn {
	line-height: 27px;
	margin-top: -2px;
	padding: 0 5px;
}

.screenlet-body {
	border: #CCC solid 1px;
	border-top: 0;
	background-color: #FFF;
	padding: 15px;
}

.screenlet.transparent .screenlet-body {
	border: 0;
	background-color: transparent;
}
.screenlet.transparent .screenlet-body {
	border: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: transparent;
}

.profile-picture, .profile-picture-sm, .profile-picture-xs {
	border: 1px solid rgb(204, 204, 204);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.14902) 1px 1px 1px;
	display: inline-block;
}

.profile-picture-sm {
	padding: 4px;
	line-height: 60px;
	max-height: 74px;
	width: 74px;
}

.profile-picture-sm img {
	max-height: 64px;
	max-width: 64px;
}

.section_header {
  width: 100%;
  margin-bottom: 60px; }
  .section_header h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 0px;
    display: inline-block;
    margin: 0; }


	
.bigger-110 {
	font-size: 110%;
}

.bigger-120 {
	font-size: 120%;
}

.bigger-130 {
	font-size: 130%;
}

.bigger-140 {
	font-size: 140%;
}

.bigger-150 {
	font-size: 150%;
}

.bigger-160 {
	font-size: 160%;
}

.bigger-170 {
	font-size: 170%;
}

.bigger-180 {
	font-size: 180%;
}

.bigger-190 {
	font-size: 190%;
}

.bigger-200 {
	font-size: 200%;
}

.bigger-210 {
	font-size: 210%;
}

.bigger-220 {
	font-size: 220%;
}

.bigger-230 {
	font-size: 230%;
}

.bigger-240 {
	font-size: 240%;
}

.bigger-250 {
	font-size: 250%;
}

.bigger-260 {
	font-size: 260%;
}

.bigger-270 {
	font-size: 270%;
}

.bigger-280 {
	font-size: 280%;
}

.bigger-290 {
	font-size: 290%;
}

.bigger-300 {
	font-size: 300%;
}
.bigger-600 {
	font-size: 600%;
}
.bigger-125 {
	font-size: 125%;
}

.bigger-175 {
	font-size: 175%;
}

.bigger-225 {
	font-size: 225%;
}

.bigger-275 {
	font-size: 275%;
}

.bigger-300 {
	font-size: 300%;
}

.bigger-400 {
	font-size: 400%;
}
.bigger-600 {
	font-size: 600%;
}
.smaller-90 {
	font-size: 90%;
}

.smaller-80 {
	font-size: 80%;
}

.smaller-70 {
	font-size: 70%;
}

.smaller-60 {
	font-size: 60%;
}

.smaller-50 {
	font-size: 50%;
}

.smaller-40 {
	font-size: 40%;
}

.smaller-30 {
	font-size: 30%;
}

.smaller-20 {
	font-size: 20%;
}

.smaller-75 {
	font-size: 75%;
}

.blue {
	color: rgb(71, 143, 202) !important;
}
.orange{
	color:#FFC545;
}
.green {
	color: #69aa46 !important;
}

.red {
	color: #dd5a43 !important;
}

.pink {
	color : #c6699f !important ;
}

.lighter {
	font-weight: lighter;
}
	
	
#toTop {
    background-color: #878888;
    border: 1px solid #777777;
    border-radius: 5px 5px 5px 5px;
    bottom: 22px;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    height: 33px;
    padding: 5px;
    position: fixed;
    right: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out 0.2s;
    width: 30px;
    z-index: 9999;
}
.items-footer {
    padding: 0 0 10px;
}
.copyright {
    border-top: 1px solid #8F8F8F;
    padding-top: 10px;
}

/* Global
-------------------------------------------------- */
.page_header {
  background-color: #000;
  color: #fff;
  font-size: 23px;
  display: inline-block;
  padding: 0px 18px; }

.social_icon {
  background: url("../../img/social_icons.png") no-repeat;
  width: 110px;
  height: 18px; }

.contact_social {
  background: url("../../img/contact_social.png") no-repeat;
  width: 180px;
  height: 34px; }




/* process */

#process{
	padding:50px 0 50px;
}

ul.process-events{
	margin:0 auto; padding:0;
	width:7px;
	height:684px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#848689 url(../img/timeline-bg.jpg) no-repeat bottom center;
	position:relative;
}

ul.process-events li{
	background:#ffffff;
	width:30px; height:30px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	border:5px solid #848689;
	list-style:none;
	margin-bottom:107px;
	margin-left:-13px;  
}

ul.process-events li.active{
	background:#848689;
}

#process .tooltip{
	opacity:1;
	background:#e8ebef;
	color:#848689;
	display:block;
	padding:15px 0 15px 0;
	font-size:18px;
	font-family: 'Apercu Bold', Helvetica, sans-serif;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	position:absolute;
}

#process .tooltip.orange{
	background:#FA9800;
	color:#fff;
	font-size:24px;
	padding:15px;
}

#process .tooltip:hover{
	text-decoration:none;
}

#process .tooltip.orange::after{
	top:50%!important;
}

#process .tooltip.left::after{
	content:'';
	position:absolute;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;        
	border-left:12px solid #e8ebef; 
	right:-8px; top:23%;
	margin-top:-15px;   
	width:0px; height:0px;
}       

#process .tooltip.right::after{
	content:'';
	position:absolute;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;        
	border-right:12px solid #e8ebef; 
	left:-8px; top:23%;
	margin-top:-15px;   
	width:0px; height:0px;
} 

#process .tooltip.orange::after{
	border-left:12px solid #FA9800; 
}

#process .tooltip-title{
	padding:0 10px 15px 15px;
	border-bottom:1px solid #cacdd0;
}

#process .tooltip-title p{
	font-size:20px;
	line-height:24px;
	color:#848689;
	margin:0;
	font-family: 'Apercu Bold', Helvetica, sans-serif;
}
			
#process .tooltip-content{
	padding:15px 15px 0 70px;
	position:relative;
}

#process .tooltip-content i{
	position:absolute;
	top:15px; left:15px;
	font-size: 32px;
}

#process .tooltip-content p{
	font-size:15px;
	line-height:20px;
	color:#848689;
	font-family: 'Apercu Bold', Helvetica, sans-serif;
}

#process .tooltip-content p strong{
	font-weight:normal;
	color:#4a4d51;
}
		
#t-tooltip-1{
	top:-10px;
	right:30px;
	width:300px;

}
#t-tooltip-1 a{
    color: #fff;
}
#t-tooltip-1 a:hover{
    color: #F8F8F8;
    text-decoration: none;
}

#t-tooltip-2{
	width:300px;
	left:40px;
}

#t-tooltip-3{
	top:253px;
	width:300px;
	right:30px;
}

#t-tooltip-4{
	top:388px;
	width:300px;
	left:40px;
}

#t-tooltip-5{
	top:527px;
	width:300px;
	right:30px;
}
#t-tooltip-6{
	top:665px;
	width:300px;
	left:40px;
}
.tooltip{
z-index:0;
}

#process-container{
	padding-left:0px
}



.timeline-response{
background: #f5f8f9!important;	
}
.chats {
	padding-right: 15px;	
}
.chats {
list-style-type: none;
margin: 0;
padding: 12px 15px 15px;
}

.chats>li:after, .chats>li:before {
content: '';
display: table;
clear: both;
}
.chats .date-time {
font-size: 10px;
display: block;
float: right;
color: #999;
margin-top: 3px;
}
.chats .name {
color: #333;
display: block;
margin-bottom: 5px;
font-weight: 600;
text-decoration: none;
}
.chats .image {
float: left;
width: 30px;
height: 30px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
overflow: hidden;
}
.chats .image+.message {
margin-left: 50px;
margin-bottom: 15px;
}
.chats .message {
border: 1px solid #ccd0d4;
padding: 7px 12px;
font-size: 12px;
position: relative;
background: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.chats .message:after, .chats .message:before {
content: '';
position: absolute;
top: 10px;
left: -14px;
border: 7px solid transparent;
border-right-color: #ccd0d4;
}
.chats .message:after {
left: -13px;
border-right-color: #fff;
}

.form-group{
	padding: 5px 0;
}
form tr td .tabletext{
	
	padding: 3px 0;
}